.background{
    background-color: #e4e4e4
}

img.pelicula {
	border-radius: 0px !important;
	width: auto !important;
	height: 85px !important;
	box-shadow: 0px 2px 4px #444;
}
.small{
    font-size: 0.7%;
}
ion-avatar{
    position: relative;
}
ion-item-sliding {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 1px 2px #aaa;
    margin-bottom: 5px;
    border: transparent;
}

[aria-label="star"] {
	color: #d7941c;
	text-shadow: 0px 1px 1px #ab6b19;
}
.mensaje {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;


    h2 {
        color: gray;
        padding: 5px;
    }
    p{
        font-size: 50%;
        font-weight: 400
    }
}

.list .item-block .item-inner {
    border-bottom: transparent;
}

.form{
    background-image: url("/assets/imgs/bk.png");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8a1919;

    .item {
        background-color: transparent !important;
      }
    
    p {
        text-align: center;
    }

    .list .item-input:last-child {
        border-bottom: 1px solid transparent;
    }

    .logo{
        text-align: center
    }
    
    .logo img{
        height: 150px;
        width: auto;
    }
    .text-input-wp{
        border: transparent;
    }
    .item-input ion-input, .item-input ion-textarea {
        border-bottom: rgb(138, 11, 11) 2px solid;
        background: rgba(255,255,255,.8);
        padding-left: 15px;
        padding-right: 15px;
    }
    .label[floating] {
        color: gray;
        margin-left: 15px;
    }
    .input-has-focus .label[floating], .input-has-value .label[floating] {
        color: white !important;
        text-shadow: 0px 1px 0px #000
    }
}

